{% extends 'blog/base.html' %}

{% block content %}
<h3><a href = "https://www.youtube.com/watch?reload=9&v=qknDI1k39Ic" target="_blank"> 羊文学 PV 「光るとき」  </a></h3>
<h3><a href = "https://www.youtube.com/watch?v=Wt6Xkp-8mNY" target="_blank"> SPECIAL OTHERS PV 「AIMS」  </a></h3>
<h3><a href = "https://www.j-wave.co.jp/assets_v2020/images/topics/2004_ongaku-tt.pdf" target="_blank"> PDF  </a></h3>
{% for post in posts %}
    <div classs = "post">
        <p>published: {{ post.published_date }}</p>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{  post.text|linebreaksbr  }}</p>
    </div>
{% endfor %}
{% endblock %}
