{% extends 'blog/base.html' %}

{% block content %}
<h3><a href = "https://www.youtube.com/watch?v=Wt6Xkp-8mNY" target="_blank"> スペアザのPV  </a></h3>
<h3><a href = "https://www.j-wave.co.jp/assets_v2020/images/topics/2004_ongaku-tt.pdf" target="_blank"> リーフレット  </a></h3>
<h3> 1本目 </h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qknDI1k39Ic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3> 2本目 </h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HC84nW9mpoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% for post in posts %}
    <div classs = "post">
        <p>published: {{ post.published_date }}</p>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{  post.text|linebreaksbr  }}</p>
    </div>
{% endfor %}
{% endblock %}


